@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "morabaLight";
        src: url("/public/fonts/Morabba/Morabba-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: "morabaMedium";
        src: url("/public/fonts/Morabba/Morabba-Medium.woff2") format("woff2");
    }

@font-face {
    font-family: "morabaBold";
    src: url("/public/fonts/Morabba/Morabba-Bold.woff2") format("woff2");
}

}